h1 {
  text-align: center;
  border-bottom: 1px dotted black;
  padding-bottom: 10px;
}

.definition {
  display:none;
  font-size: 1.25em;
  font-style: italic;
}

.term {
  font-size: 1.5em;
}




/*
.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
}
*/
